<% title "Shopping Cart" %>

<div class="container content-holder">
  <h1><%= yield :title  %></h1>
  <table class="table table-striped">
    <tr>
      <th>Product</th>
      <th>Qty</th>
      <th class="price">Unit Price</th>
      <th class="price">Full Price</th>
    </tr>
    <% for line_item in @cart.line_items %>
      <tr class="<%= cycle :odd, :even %>">
        <td><%= link_to line_item.product.name, line_item.product %></td>
        <td class="qty"><%= line_item.quantity %></td>
        <td class="price"><%= number_to_currency(line_item.unit_price) %></td>
        <td class="price"><%= number_to_currency(line_item.full_price) %></td>
      </tr>
    <% end %>
    <tr>
      <td class="total price" colspan="4">
        Total: <%= number_to_currency @cart.total_price %>
      </td>
    </tr>
  </table>

  <div class="row">
    <div class="span6">
      <%= link_to "Continue Shopping", products_url %>
    </div>
    <div class="span6 text-right">
      <!--<a href="<%= @cart.paypal_url(products_url, payment_notifications_url) %>">-->
        <!--<img src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" alt="PayPal - The safer, easier way to pay online!" class="buy-button"/>-->
      <!--</a>-->
      <%= form_tag APP_CONFIG[:paypal_url] do %>
        <%= hidden_field_tag :cmd, "_s-xclick" %>
        <%= hidden_field_tag :encrypted, @cart.paypal_encrypted(products_url, payment_notifications_url(:secret => APP_CONFIG[:paypal_secret])) %>
        <p><%= submit_tag "Checkout", :image => 'https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif', :class => 'PayPal - The safer, easier way to pay online!', :class => 'buy-button' %></p>
      <% end %>
    </div>
  </div>

</div>
