<% title "Shopping Cart - Currently Unavailable" %>

<div class="container content-holder">
  <h1><%= yield :title  %></h1>
  <table class="table table-striped">
    <tr>
      <th>Product</th>
      <th>Qty</th>
      <th class="price">Unit Price</th>
      <th class="price">Full Price</th>
    </tr>
    <% for line_item in @cart.line_items %>
      <tr class="<%= cycle :odd, :even %>">
        <td><%= link_to line_item.product.name, line_item.product %></td>
        <td class="qty">
          <% if line_item.quantity > 1 %>
            <%= link_to '<i class="icon-minus-sign"></i>'.html_safe, :controller => 'line_items', :action => 'decrement', :id => line_item %>
          <% else %>
            <%= link_to '<i class="icon-minus-sign" data-confirm="This will remove the item from your cart, continue?"></i>'.html_safe, :controller => 'line_items', :action => 'decrement', :id => line_item %>
          <% end %>
          <%= line_item.quantity %>
          <%= link_to '<i class="icon-plus-sign"></i>'.html_safe, :controller => 'line_items', :action => 'increment', :id => line_item %>
        </td>
        <td class="price"><%= number_to_currency(line_item.unit_price) %></td>
        <td class="price">
          <%= number_to_currency(line_item.full_price) %>
          <%= link_to '<i class="icon-remove-sign" title="Remove" data-confirm="This will remove the item from your cart, continue?"></i>'.html_safe, :controller => 'line_items', :action => 'destroy', :id => line_item %>
        </td>
      </tr>
    <% end %>
    <tr class="<%= cycle :odd, :even %>">
      <td><i>Shipping</i></td>
      <td></td>
      <td></td>
      <td class="price"><%= number_to_currency(@cart.total_shipping) %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
      <td class="total price" colspan="4">
        Total: <%= number_to_currency @cart.total_price %> &nbsp;&nbsp;&nbsp;
      </td>
    </tr>
  </table>

  <div class="row">
    <div class="span6">
      <%= link_to "Continue Shopping", url_for(@area1) %> |
      <%= link_to "Empty Cart", cart_new_url, :data => { :confirm => "Are you sure you want to empty your cart?", :method => :delete } %>
    </div>
    <div class="span6 text-right">
      <%= form_tag APP_CONFIG[:paypal_url] do %>
        <%= hidden_field_tag :cmd, "_s-xclick" %>
        <%= hidden_field_tag :encrypted, @cart.paypal_encrypted(URI.join(root_url, url_for(@area1)), payment_notifications_url(:secret => APP_CONFIG[:paypal_secret])) %>
        <input type="image" class="hide" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
        <img class="buy-button" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
      <% end %>
    </div>
  </div>

</div>
