<% content_for :head do %>
  <%= favicon_link_tag('/assets/favicon.ico') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
<% end %>

<% content_for :header do %>
  <div class="top-nav">
    <div class="top-nav-inner">
      <div class="container">
        <div class="row">
          <div class="span4">
            <!--<div class="span2 main-nav-bar">-->
            <!--<a href="#" class="nav btn btn-inverse">HOME</a>-->
            <!--</div>-->
            <div class="dropdown span2 main-nav-bar">
              <a class="dropdown-toggle nav btn btn-inverse" data-toggle="dropdown"
                 href="#">HOME</a>
              <ul class="dropdown-menu" role="menu"
                  aria-labelledby="dLabel">
                <li><a href="#">Test Item</a></li>
                <li><a href="#">Test Item 2</a></li>
              </ul>
            </div>

            <div class="span2 main-nav-bar">
            <a href="#" class="nav btn btn-inverse">ABOUT</a>
            </div>

          </div>
          <div class="text-center span4">
            <%= link_to logo, root_path, :class => 'text-center' %>
          </div>
          <div class="span4">
            <ul class="text-center nav text-left">

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="jumbotron">
    <div class="container">
      <h1><%= yield :title  %></h1>
      <p class="lead">Our coffee rocks!</p>
    </div>
  </header>
<% end %>

<% content_for :footer do %>
  <footer class="footer">
    <div class="container">
      <div class="span2 offset2">
        <ul class="nav">
          <%= render :partial => "pages/links", :collection => @display_pages.bottombar.each_with_index.map { |x, idx| x if idx % 3 == 0 }.compact, :as => :page %>
        </ul>
      </div>
      <div class="span2 offset1">
        <ul class="nav">
          <%= render :partial => "pages/links", :collection => @display_pages.bottombar.each_with_index.map { |x, idx| x if idx % 3 == 1 }.compact, :as => :page %>
        </ul>
      </div>
      <div class="span2 offset1">
        <ul class="nav">
          <%= render :partial => "pages/links", :collection => @display_pages.bottombar.each_with_index.map { |x, idx| x if idx % 3 == 2 }.compact, :as => :page %>
        </ul>
      </div>
    </div>
  </footer>
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>-->
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'custom' %>
  <%= javascript_include_tag 'bootstrap' %>
<% end %>
