<% content_for :head do %>
  <%= favicon_link_tag('/assets/favicon.ico') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
<% end %>

<% content_for :header do %>
  <header class="jumbotron">
    <div class="container">
      <h1><%= yield :title  %></h1>
      <p class="lead">Our coffee rocks!</p>
      <%#= link_to logo, root_path, :class => 'pull-right' %>
    </div>
  </header>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <%= render :partial => 'pages/links', :collection => @display_pages.topbar, :as => :page %>
        </ul>
      </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar', :sidebar => @display_pages.sidebar %>
<% end %>

<% content_for :userbar do %>
  <% if user_signed_in? %>
    <%= render 'shared/sidebar', :sidebar => @display_pages.userbar %>
  <% end %>
<% end %>

<% content_for :footer do %>
  <footer class="footer">
      <div class="container">
        <div class="span2 offset2">
          <ul class="nav">
            <%= render :partial => "pages/links", :collection => @display_pages.bottombar.each_with_index.map { |x, idx| x if idx % 3 == 0 }.compact, :as => :page %>
          </ul>
        </div>
        <div class="span2 offset1">
          <ul class="nav">
            <%= render :partial => "pages/links", :collection => @display_pages.bottombar.each_with_index.map { |x, idx| x if idx % 3 == 1 }.compact, :as => :page %>
          </ul>
        </div>
        <div class="span2 offset1">
          <ul class="nav">
            <%= render :partial => "pages/links", :collection => @display_pages.bottombar.each_with_index.map { |x, idx| x if idx % 3 == 2 }.compact, :as => :page %>
          </ul>
        </div>
      </div>
  </footer>
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>-->
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'bootstrap' %>
<% end %>
