<% content_for :head do %>
  <%= favicon_link_tag('/assets/favicon.ico') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
<% end %>

<% content_for :header do %>
  <div class="top-nav">
    <div class="top-nav-inner">
      <div class="container">
        <div class="row">
          <div class="span4">
            <!--<div class="span2 main-nav-bar">-->
            <!--<a href="#" class="nav btn btn-inverse">HOME</a>-->
            <!--</div>-->
            <div class="dropdown span2 main-nav-bar">
              <a class="dropdown-toggle nav btn btn-inverse"
                 data-toggle="dropdown" href="#">HOME</a>
              <div class="dropdown-menu" role="menu"
                   aria-labelledby="dLabel">
                <div class="container">
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="dropdown span2 main-nav-bar">
              <a class="dropdown-toggle nav btn btn-inverse"
                 data-toggle="dropdown" href="#">PRODUCTS</a>
              <div class="dropdown-menu" role="menu"
                   aria-labelledby="dLabel">
                <div class="container">
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 2</a></li>
                    <li><a href="#">Test Item 2</a></li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 2</a></li>
                    <li><a href="#">Test Item 2</a></li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 2</a></li>
                    <li><a href="#">Test Item 2</a></li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 2</a></li>
                    <li><a href="#">Test Item 2</a></li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 2</a></li>
                    <li><a href="#">Test Item 2</a></li>
                  </ul>
                </div>
              </div>
            </div>


          </div>
          <div class="text-center span4">
            <%#= link_to logo, root_path, :class => 'text-center' %>
          </div>
          <div class="span4">
            <div class="dropdown span2 main-nav-bar">
              <a class="dropdown-toggle nav btn btn-inverse"
                 data-toggle="dropdown" href="#">PRODUCTS</a>
              <div class="dropdown-menu" role="menu"
                   aria-labelledby="dLabel">
                <div class="container">
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="dropdown span2 main-nav-bar">
              <a class="dropdown-toggle nav btn btn-inverse"
                 data-toggle="dropdown" href="#">FIND US</a>
              <div class="dropdown-menu" role="menu"
                   aria-labelledby="dLabel">
                <div class="container">
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="disabled"><a href="#">Test Item</a></li>
                    <li><a href="#">Test Item 1</a></li>
                    <li><a href="#">Test Item 1</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item">
        <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn1/531538_421549184607470_1731052876_n.jpg" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Example headline.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary" href="#">Sign up today</a>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag('espresso_machine.jpg') %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="item active">
        <%= image_tag('beans_cooling.jpg') %>
        <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div>

<% end %>

<% content_for :footer do %>
  <footer class="footer">
    <div class="container">
      <div class="span2 offset2">
        <ul class="nav">
          <%= render :partial => "pages/links", :collection => @display_pages.bottombar.each_with_index.map { |x, idx| x if idx % 3 == 0 }.compact, :as => :page %>
        </ul>
      </div>
      <div class="span2 offset1">
        <ul class="nav">
          <%= render :partial => "pages/links", :collection => @display_pages.bottombar.each_with_index.map { |x, idx| x if idx % 3 == 1 }.compact, :as => :page %>
        </ul>
      </div>
      <div class="span2 offset1">
        <ul class="nav">
          <%= render :partial => "pages/links", :collection => @display_pages.bottombar.each_with_index.map { |x, idx| x if idx % 3 == 2 }.compact, :as => :page %>
        </ul>
      </div>
    </div>
  </footer>
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>-->
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'custom' %>
  <%= javascript_include_tag 'bootstrap' %>
<% end %>
