<% content_for :head do %>
  <%= favicon_link_tag('/assets/favicon.ico') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
<% end %>

<% content_for :flash do %>
  <div class="flash">
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><button type="button" class="close" data-dismiss="alert">&times;</button><%= value %></div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :carousel do %>
  <% if @page %>
    <% unless @page.image_handlers.empty? %>
      <div class="container">
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <% @page.image_handlers.size.times do | iter |%>
              <li data-target="#myCarousel" data-slide-to="<%= iter %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @page.image_handlers.each do | img |%>
              <div class="item <%= "active" if defined? first %>">
                <% first="done" %>
                <img src="<%=	img.image.url.to_s %>" alt="<%=	img.alt.to_s %>">
                <% unless img.title.blank? && img.description.blank? && img.button_text.blank? %>
                  <div class="container">
                    <div class="carousel-caption">
                      <% unless img.title.blank? %>
                        <h1><%=	img.title.to_s %></h1>
                      <% end %>
                      <% unless img.description.blank? %>
                        <p class="lead"><%=	img.description.to_s %></p>
                      <% end %>
                      <% unless img.button_text.blank? %>
                        <% if img.button_url.blank? %>
                          <a class="btn btn-large btn-primary" href="#">
                            <%= img.button_text.to_s %>
                          </a>
                        <% else %>
                          <a class="btn btn-large btn-primary" href="<%= img.button_url.to_s %>">
                            <%= img.button_text.to_s %>
                          </a>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% content_for :header do %>
  <header>
    <div class="current-cart"><i class='icon-shopping-cart'></i>&nbsp;<%= link_to "Cart(#{@current_cart.total_items.to_s}): #{number_to_currency(@current_cart.total_price)}".html_safe , :cart %></div>
    <div class="top-bg top-trans"></div>
    <div class="top-bg top-drop"></div>
    <div class="top-bg top-line nav-bg"></div>
    <div class="top-nav">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="row">
              <%= render :partial => 'shared/main_buttons',
                         :locals => { :name => 'Products',
                                      :url => '/products',
                                      :sections => @display_products_section } %>
              <%= render :partial => 'shared/main_buttons',
                         :locals => { :name => 'Drinks',
                                      :url => '/drinks',
                                      :sections => @display_drinks_section } %>
            </div>
          </div>
          <div class="text-center span4">
            <%= link_to logo, root_path, :class => 'text-center' %>
          </div>
          <div class="span4">
            <div class="row">
              <%= render :partial => 'shared/main_buttons',
                         :locals => { :name => 'Contact',
                                      :url => '/contact',
                                      :sections => @display_contact_section } %>
              <%= render :partial => 'shared/main_buttons',
                         :locals => { :name => 'Events',
                                      :url => '/events',
                                      :sections => @display_events_section } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>

<% content_for :footer do %>
  <footer class="footer nav-bg">
    <div class="container">
      <div class="row">
        <div class="span8">
          <div class="row">
            <div class="span2">
              <div class="row">
                <ul class="nav">
                  <% if @display_bottom_pages %>
                    <%= render :partial => "shared/menu_links",
                               :collection => @display_bottom_pages.each_with_index.map {
                                   |x,idx| x if idx % 3 == 0 }.compact,
                               :as => :page %>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="span2 offset1">
              <div class="row">
                <ul class="nav">
                  <% if @display_bottom_pages %>
                    <%= render :partial => "shared/menu_links",
                               :collection => @display_bottom_pages.each_with_index.map {
                                   |x,idx| x if idx % 3 == 1 }.compact,
                               :as => :page %>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="span2 offset1">
              <div class="row">
                <ul class="nav">
                  <% if @display_bottom_pages %>
                    <%= render :partial => "shared/menu_links",
                               :collection => @display_bottom_pages.each_with_index.map {
                                   |x,idx| x if idx % 3 == 2 }.compact,
                               :as => :page %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              &copy; 2013 Carbon Valley Coffee Roasters, LLC. All rights reserved.
            </div>
          </div>
        </div>
        <div class="span2 offset1 follow-footer">
          <div class="row">
            <a href="https://www.facebook.com/pages/Carbon-Valley-Coffee-Roasters/412779672151088"><%=
                image_tag('facebook-48.png', :class => 'img-menu img-circle')
            %></a>
            <a href="https://plus.google.com/u/0/107131835154629906866/about"><%=
                image_tag('googleplus-48.png', :class => 'img-menu img-circle')
            %></a>
          </div>
        </div>
        <div class="span1 follow-footer">
          <!-- facebook like -->
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=511569865564832";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="pull-right fb-like" data-colorscheme="dark" data-font="verdana" data-layout="button_count" data-send="false" data-show-faces="false" data-width="450">&nbsp;</div>
        </div>
      </div>
    </div>
  </footer>
  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-41558028-1', 'carbonvalleycoffeeroasters.com');
    ga('send', 'pageview');
  </script>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'custom' %>
  <%= javascript_include_tag 'bootstrap' %>
<% end %>
