<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield :title %></title>
  <%= yield :head %>
</head>
<body>
<% flash.each do |key, value| %>
  <div id="notice" class="<%= key %> <%= key %>-block"><%= value %></div>
<% end %>
<div class="header-bg"></div>
<div class="container">
  <div class="text-center logo-holder">
    <%= link_to logo, root_path, :class => 'text-center' %>
  </div>
  <%= yield :header %>
  <div class="container content-holder">
    <h1><%= yield :title  %></h1>
    <hr />
    <%= yield %>
  </div>
  <% if Rails.env.development? %>
    <div class="container content-holder">
      <%= debug(params) %>
    </div>
  <% end %>
</div>
<%= yield :footer %>
</body>
</html>
